numpy
onnxruntime
opencv-python-headless
# pycuda
# tensorrt
# torch
django
django-jazzmin
ultralytics
djangorestframework


dnspython==1.16.0
enum-compat==0.0.3
eventlet==0.31.0
greenlet==0.4.16
monotonic==1.5
python-engineio
python-socketio
pytz==2020.1
six==1.15.0
gunicorn
redis
