{% extends 'analysis_base.html'%}
{% load static %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.2/echarts.min.js"></script>
	<!-- <script async src="https://docs.opencv.org/master/opencv.js" type="text/javascript"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>
<body>
    <div class="main-wrapper">
        {% include 'sidebar.html'%}
        <div class="page-wrapper">
            <!-- partial:partials/_navbar.html -->
            {% include 'navbar.html'%}
            <!-- partial -->
            <div class="page-content">

                <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
                    <div>
                        <h4 class="mb-3 mb-md-0">Dashboard</h4>
                    </div>
                    <div class="d-flex align-items-center flex-wrap text-nowrap">
                        <a type="button" class="btn btn-outline-primary btn-icon-text mr-2 mb-2 mb-md-0"
                            href="{% url 'video_analysis' %}">
                            <i class="btn-icon-prepend" data-feather="video"></i>
                            Video Analysis
                        </a>
                        <a type="button" class="btn btn-primary btn-icon-text mb-2 mb-md-0"
                            href="{% url 'index' %}">
                            <i class="btn-icon-prepend" data-feather="bar-chart"></i>
                            Live Stream Analysis
                        </a>
                    </div>
                </div>
                <div class="row">
                    
                    <!-- bar chart -->
                    <div class="col-xl-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">Search Date Range</h6>
                                <div>
                                    <label for="user">First Name</label>
                                    <input type="Date" class="form-control" width="30%" name="first_name" autocomplete="Username" placeholder="Username" required>
                                    <label for="user">First Name</label>
                                    <input type="Date" class="form-control" width="30%" name="first_name" autocomplete="Username" placeholder="Username" required><label for="user">First Name</label>
                                    <input type="Date" class="form-control" width="30%" name="first_name" autocomplete="Username" placeholder="Username" required>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    
                    <div class="col-xl-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">Bar chart <span id="bar-chart-title"></span></h6>
                                <div id="e_bar_chart" style="width: 100%; height: 400px "></div>
                            </div>
                        </div>
                    </div>
                    <!-- end area chart -->

                </div>
                <!-- first row end -->

                <!-- second row start -->
                <div class="row">

                    <!-- plot chart with dynamic font-size -->
                    <div class="col-xl-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">MultiLine <span id="multiline-chart-title"></span></h6>
                                <div id="e_multiline_chart" style="width: 100%; height: 800px;"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <!-- area chart -->
                    <div class="col-xl-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">Area chart <span id="area-chart-title"></span><h5></h5>
                                </h6>
                                <div id="e_line_chart" style="width: 100%; height: 400px;"></div>
                            </div>
                        </div>
                    </div>
                    <!-- end area chart -->
                    <!-- bar chart -->

                    <!-- bar chart End -->

                </div>
                <!-- first row end -->

                <!-- <div class="row">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">Bar chart</h6>
                                <div id="echartbar" style="height: 400px;"></div>
                            </div>
                        </div>
                    </div>

                </div> -->

            </div>

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.2/echarts.min.js"></script>
    <!-- <script src="{% static 'js/dynamic-plots.js'%}"></script> -->
    <script src="{% static 'js/charts/e_bar_chart.js'%}"></script>
    <script src="{% static 'js/charts/e_multiline_chart.js'%}"></script>
    <script src="{% static 'js/charts/e_line_chart.js'%}"></script>
    <!-- <script src="{% static 'js/dynamic-plots.js'%}"></script> -->
    <script>
        


        var csrfToken = "{{ csrf_token }}";
        var site_name = "{{site_name}}";
        // // ajax apis for getting data

        setInterval(function () {
            // Get the current date and time
            const currentDate = new Date();

            // Set the time to midnight (00:00:00 AM)
            const startDate = new Date(currentDate);
            startDate.setHours(0, 0, 0, 0);

            // Format the start date and time
            const formattedDateFrom = startDate.toLocaleString('en-US', {
                year: 'numeric',
                month: 'numeric',
                day: 'numeric',
                hour: '2-digit',
                minute: '2-digit',
                second: '2-digit',
                hour12: true,
            });

            // Print the formatted start date and time
            // console.log(`date: ${formattedDateFrom}`);

            // Format the current date and time
            const formattedDateTo = currentDate.toLocaleString('en-US', {
                hour: '2-digit',
                minute: '2-digit',
                second: '2-digit',
                hour12: true,
            });
            let date=`      (${formattedDateFrom} To ${formattedDateTo})`
            // Print the formatted current date and time
            // console.log(`date: ${formattedDateTo}`);

            // $.ajax({
            //     method: "POST",
            //     url: "/apis/get_table_records",
            //     dataType: "json",
            //     headers: { "X-CSRFToken": csrfToken },
            //     data: {
            //         "site_name": site_name,
            //     },
            //     success: function (data) {
            //         // console.log(data);
            //         let percentage = data['percentage'];
            //         let today_data = data['data'];

            //         // Update the table rows
            //         let tableData = '';
            //         Object.entries(today_data).forEach(([vehicle, count], index) => {
            //             tableData += `
            //     <tr>
            //         <td>${vehicle}</td>
            //         <td>${count}</td>
            //         <td>
            //             <div class="progress">
            //                 <div class="progress-bar progress-bar-striped progress-bar-animated ${percentage[index] > 50 ? 'bg-success' : 'bg-danger'}" role="progressbar" style="width: ${percentage[index]}%" aria-valuenow="${percentage[index]}" aria-valuemin="0" aria-valuemax="100"></div>
            //             </div>
            //         </td>
            //     </tr>
            // `;
            //         });

            //         // Update the table with the new data
            //         $('#today_table').html(tableData);
            //     },
            //     error: function () {
            //         console.log("Error on get_vehicle_counts");
            //     }
            // });

            multi_line_chart_fun(csrfToken, site_name);
            line_chart_fun(csrfToken, site_name);
            bar_chart_fun(csrfToken, site_name);
            document.getElementById('bar-chart-title').innerHTML=date
            document.getElementById('multiline-chart-title').innerHTML=date
            document.getElementById('area-chart-title').innerHTML=date
            
        }, 10000); // 30 seconds in milliseconds





    </script>
    <!-- <script src="static/js/morris.js'%}"></script> -->
    <!-- <script>
        


    </script> -->

</body>
{% endblock %}