{% extends 'base.html'%}
{% load static %}
{% block content%}

<body>
    <div class="main-wrapper">

        <!-- partial:partials/_sidebar.html -->
        {% include 'include/sidebar.html'%}
        <!-- partial:partials/_navbar.html -->
        {% include 'include/nav2.html'%}
            <!-- partial -->
            <div class="page-content">

                <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
                    <div>
                        <h4 class="mb-3 mb-md-0">History</h4>
                    </div>
                    <div class="d-flex align-items-center flex-wrap text-nowrap">
                        <div class="input-group date datepicker dashboard-date mr-2 mb-2 mb-md-0 d-md-none d-xl-flex"
                            id="FromDate">
                            <span class="input-group-addon bg-transparent">From</span>
                            <input type="text" class="form-control">
                        </div>

                        <div class="input-group date datepicker dashboard-date mr-2 mb-2 mb-md-0 d-md-none d-xl-flex"
                            id="ToDate">
                            <span class="input-group-addon bg-transparent">To</span>
                            <input type="text" class="form-control">
                        </div>

                        <!-- <button type="button" class="btn btn-outline-info btn-icon-text mr-2 d-none d-md-block">
                            <i class="btn-icon-prepend" data-feather="activity"></i>
                            History
                        </button> -->
                        <a type="button" class="btn btn-outline-primary btn-icon-text mr-2 mb-2 mb-md-0" href="{% url 'dashboard' %}">
                            <i class="btn-icon-prepend" data-feather="video"></i>
                            Dashboard
                        </a>
                        <a type="button" class="btn btn-outline-primary btn-icon-text mr-2 mb-2 mb-md-0" href="{% url 'video_analysis' %}">
                            <i class="btn-icon-prepend" data-feather="video"></i>
                            Video Analysis
                        </a>
                        <a type="button" class="btn btn-primary btn-icon-text mb-2 mb-md-0" href="{% url 'live_stream' %}">
                            <i class="btn-icon-prepend" data-feather="bar-chart"></i>
                            Live Stream Analysis
                        </a>
                    </div>
                </div>



                <!-- <div class="row">
                    <div class="col-xl-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">Streaming Analysis
                                </h6>
                                <canvas id="chartjsAreaa"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">Streaming</h6>
                                <div id="apexBara"></div>
                            </div>
                        </div>
                    </div>

                </div> -->
                <!-- first row end -->

                <!-- second row start -->
                <div class="row">
                    
                    <!-- plot chart with dynamic font-size -->
                    <div class="col-xl-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">MultiLine</h6>
                                <canvas id="multiline" width="100" height="30"></canvas>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <!-- area chart -->
                    <div class="col-xl-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">Area chart</h6>
                                <canvas id="chartjsArea"></canvas>
                            </div>
                        </div>
                    </div>
                    <!-- end area chart -->
                    <!-- bar chart -->
                    <div class="col-xl-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">Bar chart</h6>
                                <div id="apexBar"></div>
                            </div>
                        </div>
                    </div>
                    <!-- bar chart End -->

                </div>
                <!-- first row end -->

                <div class="row">
                    <!-- bar chart -->
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">Bar chart</h6>
                                <div id="echartbar" style="height: 400px;"></div>
                            </div>
                        </div>
                    </div>
                    <!-- bar chart End -->

                </div>
                




            </div>

        </div>

    </div>
{% include 'include/script.html'%}
    
</body>

</html>
{%endblock%}