{% extends 'analysis_base.html'%} {% load static %}
<style>
  .card {
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    /* border: 0; */
    /* margin-bottom: 1.5em; */
  }

  .card:hover {
    transform: scale(1.1);
  }
</style>
{% block content%}

<body>
    <div class="main-wrapper">
      {% include 'nav_html.html'%}
    <div class="page-wrapper">
      <div class="page-content">
        
        <div
          class="d-flex justify-content-between align-items-center flex-wrap grid-margin"
        >
          <div>
            <h4 class="mb-3 mb-md-0">Welcome to Traffic Monitoring System</h4>
          </div>
          <!-- <div class="d-flex align-items-center flex-wrap text-nowrap">
                        
                        <button type="button" class="btn btn-primary btn-icon-text mb-2 mb-md-0">
                            <i class="btn-icon-prepend" data-feather="download-cloud"></i>
                            Download Report
                        </button>
                    </div> -->
        </div>

        <div class="row">
          <!-- Location -->
          {% for site in site_name%}

          <div class="col-lg-5 col-xl-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body p-0">
                <h4 class="p-3 text-center">{{site}}</h4>
                <a href="{% url 'dashboard' site_name=site %}">
                  <!-- video -->
                  <div>
                    <img
                      src="{% static 'images/map.PNG'%}"
                      alt="stream2"
                      style="height: 400px; width: 100%"
                      id="{{site}}"
                    />
                  </div>
                </a>
              </div>

              <div class="card-footer">
                <div class="row m-2">
                  <div class="col-5 d-flex justify-content-end">
                    <div>
                      <label
                        class="d-flex align-items-center justify-content-end tx-24 text-uppercase font-weight-bold"
                        >yesterday Total Traffic
                        <span
                          class="p-1 ml-1 rounded-circle bg-primary-muted"
                        ></span
                      ></label>
                      <h5
                        class="font-weight-bold p-1 ml-5"
                        style="font-size: large"
                        id="yesterday_count"
                      >
                        500
                      </h5>
                    </div>
                  </div>
                  <div class="col-2 d-flex justify-content-end vr"></div>
                  <div class="col-5">
                    <div>
                      <label
                        class="d-flex align-items-center tx-32 text-uppercase font-weight-bold"
                        ><span class="p-1 mr-1 rounded-circle bg-primary"></span
                        >Today Total Traffic</label
                      >
                      <!-- </label> -->
                      <!-- add right margin -->
                      <h5
                        class="font-weight-bold p-1 ml-5"
                        style="font-size: large"
                        id="today_count"
                      >
                        100
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          <!-- Location -->

          <!-- map  -->
          <!-- <div class="col-2 d-flex "></div> -->

          <div class="col-12">
            <!-- add google map image into div -->
            <!-- <div>
                            <img src="{% static 'images/map.PNG'%}" alt="map" width="100%" height="50%">
                        </div> -->
          </div>
          <!-- <div class="col-1 d-flex "></div> -->
        </div>
        <!-- row -->
        <!-- <div id="map"></div> -->
      </div>
    </div>
  </div>

  {% include 'analysis_script.html' %}

  <script>
    {% comment %} document.addEventListener("DOMContentLoaded", function () {
        const dropdownButton = document.getElementById("profileDropdownButton");
        const dropdownMenu = document.getElementById("profileDropdown");

        dropdownButton.addEventListener("click", function () {
            // Use Bootstrap's 'show' class to control visibility
            dropdownMenu.classList.toggle("show");
        });

        // Add event listener when the dropdown is shown
        dropdownMenu.addEventListener("show.bs.dropdown", function () {
            dropdownMenu.classList.add("show");
        });

        // Add event listener when the dropdown is hidden
        dropdownMenu.addEventListener("hide.bs.dropdown", function () {
            dropdownMenu.classList.remove("show");
        });
    }); {% endcomment %}


    const socket = io.connect('http://127.0.0.1:7000');
    socket.on('connect', function () {
        console.log('connected');
    });

    socket.on('disconnect', function () {
        console.log('disconnected');
    });

    {% for site in site_name %}
    socket.on('{{site}}', function (data) {
        document.getElementById('{{site}}').src = "data:image/png;base64," + data;
    });
    {% endfor %}
  </script>
</body>
{% endblock %}
