{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Smart-Traffic</title>

	<link rel="stylesheet" href="{% static 'vendors/core/core.css'%}">
	<link rel="stylesheet" href="{% static 'vendors/bootstrap-datepicker/bootstrap-datepicker.min.css'%}">
	<link rel="stylesheet" href="{% static 'fonts/feather-font/css/iconfont.css'%}">
	<link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css'%}">
	<link rel="stylesheet" href="{% static 'css/demo_1/style.css'%}">
	<link rel="shortcut icon" href="{% static 'images/favicon.png'%}" />
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.2/echarts.min.js"
		integrity="sha512-VdqgeoWrVJcsDXFlQEKqE5MyhaIgB9yXUVaiUa8DR2J4Lr1uWcFm+ZH/YnzV5WqgKf4GPyHQ64vVLgzqGIchyw=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
	<div class="main-wrapper">

		<!-- partial:partials/_sidebar.html -->
		<nav class="sidebar">
			<div class="sidebar-header">
				<a href="#" class="sidebar-brand">
					Smart<span>Traffic</span>
				</a>
				<div class="sidebar-toggler not-active">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<div class="sidebar-body">
				<ul class="nav">
					<li class="nav-item">
						<a href="{% url 'index' %}" class="nav-link">
							<i class="link-icon" data-feather="box"></i>
							<span class="link-title">All Sites</span>
						</a>
					</li>
					{% for site in site_names %}
					<li class="nav-item">
						<a href="{% url 'dashboard' site_name=site %}" class="nav-link">
							<i class="link-icon" data-feather="framer"></i>
							<span class="link-title">{{site}}</span>
						</a>
					</li>
					{% endfor %}

				</ul>
			</div>
		</nav>

		<div class="page-wrapper">
			<!-- partial:partials/_navbar.html -->
			<nav class="navbar">
				<a href="#" class="sidebar-toggler">
					<i data-feather="menu"></i>
				</a>
				<div class="navbar-content">
					<form class="search-form">
						<!-- <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i data-feather="search"></i>
                                </div>
                            </div>
                            <input type="text" class="form-control" id="navbarForm" placeholder="Search here...">
                        </div> -->
					</form>
					<ul class="navbar-nav">

						<li class="nav-item dropdown nav-profile">
							<a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<img src="https://via.placeholder.com/30x30" alt="profile">
							</a>
							<div class="dropdown-menu" aria-labelledby="profileDropdown">
								<div class="dropdown-header d-flex flex-column align-items-center">
									<div class="figure mb-3">
										<img src="https://via.placeholder.com/80x80" alt="">
									</div>
									<div class="info text-center">
										<p class="name font-weight-bold mb-0">Ehtisham Ahmed</p>
										<p class="email text-muted mb-3">shamikhan@</p>
									</div>
								</div>
								<div class="dropdown-body">
									<ul class="profile-nav p-0 pt-3">
										<li class="nav-item">
											<a href="pages/general/profile.html" class="nav-link">
												<i data-feather="user"></i>
												<span>Profile</span>
											</a>
										</li>
										<li class="nav-item">
											<a href="javascript:;" class="nav-link">
												<i data-feather="edit"></i>
												<span>Edit Profile</span>
											</a>
										</li>
										<li class="nav-item">
											<a href="javascript:;" class="nav-link">
												<i data-feather="repeat"></i>
												<span>Switch User</span>
											</a>
										</li>
										<li class="nav-item">
											<a href="javascript:;" class="nav-link">
												<i data-feather="log-out"></i>
												<span>Log Out</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</nav>
			<!-- partial -->
			<div class="page-content">

				<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
					<div>
						<h4 class="mb-3 mb-md-0">Dashboard</h4>
					</div>
					<div class="d-flex align-items-center flex-wrap text-nowrap">

						<a type="button" class="btn btn-outline-info btn-icon-text mr-2 d-none d-md-block"
							href="{% url 'history' %}">
							<i class="btn-icon-prepend" data-feather="activity"></i>
							History
						</a>
						<a type="button" class="btn btn-outline-primary btn-icon-text mr-2 mb-2 mb-md-0"
							href="{% url 'video_analysis' %}">
							<i class="btn-icon-prepend" data-feather="video"></i>
							Video Analysis
						</a>
						<a type="button" class="btn btn-primary btn-icon-text mb-2 mb-md-0"
							href="{% url 'live_stream' %}">
							<i class="btn-icon-prepend" data-feather="bar-chart"></i>
							Live Stream Analysis
						</a>
					</div>
				</div>



				<div class="row">
					<!-- area chart -->
					<div class="col-xl-12 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<h6 class="card-title">Streaming Analysis</h6>
								<button type="button" class="btn btn-primary float-right" data-toggle="modal"
									data-target="#exampleModal" data-whatever="@getbootstrap">Upload Video</button>

								<!-- create 6 card  -->
								<div class="card-body">
									<div class="table-responsive">
										<table class="table table-striped">
											<thead>
												<tr>
													<th>Video ID</th>
													<th>Name</th>
													<th>Date Time</th>
													<th>Status</th>
													<th>Actions</th>
												</tr>
											</thead>
											<tbody id="today_table">
												{% for vid in video_analysis %}
												<tr>
													<td class="py-1">
														{{vid.id}}
													</td>
													<td>{{vid.video_name}}</td>
													<td>
														{{vid.date_time}}
													</td>
													<td>
														{% if vid.status == 1 %}
														<span class="badge badge-success">Processed</span>
														{% else %}
														<span class="badge badge-danger">Not Processed</span>
														{% endif %}
													</td>
													<td>
														<button type="button"
															onclick="load_video_function('{{vid.video_path}}')"
															class="btn btn-primary btn-sm">Process</button>
														<button type="button" onclick=""
															class="btn btn-success btn-sm">Excel</button>
														<button type="button" onclick=""
															class="btn btn-danger btn-sm">Delete</button>
													</td>
												</tr>
												{% endfor %}

											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end area chart -->
					<!-- bar chart -->
					<!-- <div class="col-xl-6 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<h6 class="card-title">Streaming {{site_name}}</h6>
								<div>
									<img src="" alt="stream2" style="height: 400px; width: 100%;" id="{{site_name}}">

								</div>
							</div>
						</div>
					</div> -->
					<!-- bar chart End -->

				</div>
				<!-- first row end -->

				<!-- second row start -->
				<div class="row">

					<!-- plot chart with dynamic font-size -->
					<div class="col-xl-12 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<h6 class="card-title">MultiLine</h6>
								<div id="e_multiline_chart" style="width: 100%; height: 400px;"></div>
							</div>
						</div>
					</div>

				</div>
				<div class="row">
					<!-- area chart -->
					<div class="col-xl-6 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<h6 class="card-title">Area chart</h6>
								<div id="e_line_chart" style="width: 100%; height: 400px;"></div>
							</div>
						</div>
					</div>
					<!-- end area chart -->
					<!-- bar chart -->
					<div class="col-xl-6 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<h6 class="card-title">Bar chart</h6>
								<div id="e_bar_chart" style="width: 100%; height: 400px "></div>
							</div>
						</div>
					</div>
					<!-- bar chart End -->

				</div>
				<!-- first row end -->

				<!-- <div class="row">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">Bar chart</h6>
                                <div id="echartbar" style="height: 400px;"></div>
                            </div>
                        </div>
                    </div>

                </div> -->





			</div>

		</div>

	</div>


	<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Open modal for @fat</button> -->

	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">New message</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form id="video-upload-form" enctype="multipart/form-data">
					<div class="modal-body">
						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Video Name:</label>
							<input type="text" class="form-control" id="recipient-name" name="video_name" required>
						</div>
						<div class="form-group">
							<label for="message-text" class="col-form-label">Date Time:</label>
							<input type="datetime-local" class="form-control" id="message-text" name="date_time"
								required>
						</div>
						<div class="form-group">
							<label for="video-file">Video File:</label>
							<input type="file" class="form-control" id="video-file" name="video" accept="video/*"
								required>
						</div>
						<div class="progress">
							<div class="progress-bar" id="progress-bar" role="progressbar" aria-valuemin="0"
								aria-valuemax="100"></div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Upload video</button>
					</div>
				</form>

			</div>
		</div>
	</div>


	<!-- video model -->
	<div class="modal fade" id="vidoemodel" tabindex="-1" role="dialog" aria-labelledby="vidoemodelLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="vidoemodelLabel">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<canvas id="first_frame" style="width: 100%; height: 100%;"></canvas>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>


	<!-- core:js -->
	<script src="{% static 'vendors/core/core.js'%}"></script>
	<script src="{% static 'vendors/chartjs/Chart.min.js'%}"></script>
	<script src="{% static 'vendors/jquery.flot/jquery.flot.js'%}"></script>
	<script src="{% static 'vendors/jquery.flot/jquery.flot.resize.js'%}"></script>
	<script src="{% static 'vendors/bootstrap-datepicker/bootstrap-datepicker.min.js'%}"></script>
	<script src="{% static 'vendors/apexcharts/apexcharts.min.js'%}"></script>
	<script src="{% static 'vendors/progressbar.js/progressbar.min.js'%}"></script>
	<script src="{% static 'vendors/feather-icons/feather.min.js'%}"></script>
	<script src="{%static 'js/template.js'%}"></script>
	<script src="{% static 'js/dashboard.js'%}"></script>
	<script src="{% static 'js/datepicker.js'%}"></script>
	<script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
	<!-- <script src="{% static 'js/dynamic-plots.js'%}"></script> -->
	<script src="{% static 'js/charts/e_bar_chart.js'%}"></script>
	<script src="{% static 'js/charts/e_multiline_chart.js'%}"></script>
	<script src="{% static 'js/charts/e_line_chart.js'%}"></script>
	<!-- <script src="{% static 'js/dynamic-plots.js'%}"></script> -->
	<script>
		// var socket = io.connect("http://
		const socket = io.connect('http://127.0.0.1:7000');
		socket.on("connect", function () {
			console.log("connected");
		});

		socket.on("disconnect", function () {
			console.log("disconnected");
		});

		socket.on("{{site_name}}", function (data) {
			document.getElementById('{{site_name}}').src = "data:image/png;base64," + data;
		});



		document.getElementById('video-upload-form').addEventListener('submit', function (event) {
			event.preventDefault();
			var fileInput = document.getElementById('video-file');
			var videoName = document.getElementById('recipient-name').value;
			var dateTime = document.getElementById('message-text').value;
			var file = fileInput.files[0];

			var formData = new FormData();
			formData.append('video', file);
			formData.append('video_name', videoName);
			formData.append('date_time', dateTime);

			var progressBar = document.getElementById('progress-bar'); // Get the progress bar element

			var xhr = new XMLHttpRequest();

			xhr.upload.addEventListener('progress', function (event) {
				if (event.lengthComputable) {
					var percentComplete = (event.loaded / event.total) * 100;
					updateProgressBar(progressBar, percentComplete); // Call the updateProgressBar function

					if (percentComplete === 100) {
						xhr.removeEventListener('load', uploadComplete); // Remove the load event listener
						xhr.removeEventListener('error', uploadFailed); // Remove the error event listener
					}
				}
			});

			xhr.addEventListener('load', uploadComplete);
			xhr.addEventListener('error', uploadFailed);

			xhr.open('POST', 'video_analysis', true);
			xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');  // Add CSRF token header

			xhr.send(formData);
		});

		function updateProgressBar(progressBar, percentComplete) {
			progressBar.style.width = percentComplete + '%';
			progressBar.innerText = percentComplete.toFixed(2) + '%';
		}

		function uploadComplete() {
			// Video upload completed
			// Handle the response from the server
			// Hide or reset the progress bar
			var progressBar = document.getElementById('progress-bar');
			progressBar.style.width = '0%';
			progressBar.innerText = '';
		}

		function uploadFailed() {
			// Error occurred during video upload
			// Handle the error message
			// Hide or reset the progress bar
			var progressBar = document.getElementById('progress-bar');
			progressBar.style.width = '0%';
			progressBar.innerText = '';
		}

		function draw_line() {
			// Get the canvas element
			var canvas = document.getElementById('first_frame');
			var ctx = canvas.getContext('2d');

			var x1, y1, x2, y2;
			var drawing = false;
			var detectionLines = [];

			// Function to draw a line
			function drawLine() {
				ctx.clearRect(0, 0, canvas.width, canvas.height);
				for (var i = 0; i < detectionLines.length; i++) {
					var line = detectionLines[i];
					ctx.beginPath();
					ctx.moveTo(line[0], line[1]);
					ctx.lineTo(line[2], line[3]);
					ctx.stroke();
				}
			}

			// Event listener for mouse down event
			canvas.addEventListener('mousedown', function (event) {
				x1 = event.offsetX;
				y1 = event.offsetY;
				drawing = true;
			});

			// Event listener for mouse up event
			canvas.addEventListener('mouseup', function (event) {
				if (drawing) {
					x2 = event.offsetX;
					y2 = event.offsetY;
					detectionLines.push([x1, y1, x2, y2]);
					drawing = false;
					drawLine();
				}
			});

			// Event listener for context menu event (right-click)
			canvas.addEventListener('contextmenu', function (event) {
				event.preventDefault();
				var rect = canvas.getBoundingClientRect();
				var x = event.clientX - rect.left;
				var y = event.clientY - rect.top;
				for (var i = 0; i < detectionLines.length; i++) {
					var line = detectionLines[i];
					var p1 = { x: line[0], y: line[1] };
					var p2 = { x: line[2], y: line[3] };
					var p3 = { x: x, y: y };
					var dist = Math.abs((p2.x - p1.x) * (p3.y - p1.y) - (p3.x - p1.x) * (p2.y - p1.y)) / Math.sqrt(Math.pow(p2.x - p1.x, 2) + Math.pow(p2.y - p1.y, 2));
					if (dist < 10 && x > Math.min(p1.x, p2.x) - 10 && x < Math.max(p1.x, p2.x) + 10) {
						detectionLines.splice(i, 1);
						drawLine();
						break;
					}
				}
				console.log(detectionLines);
			});

		}

		// Invoke the draw_line() function to start the drawing functionality
		draw_line();


		// Invoke the draw_line() function to start the drawing functionality
		draw_line();




		var csrf_token = "{{ csrf_token }}";

		function load_video_function(path) {
			// var modalBody = document.querySelector('.modal-body');

			// Create the video element
			$.ajax({
				method: "POST",
				url: "/apis/get_first_frame",
				headers: { "X-CSRFToken": csrf_token },
				data: {
					"video_path": path,
				},
				success: function (data) {
					// console.log('data',data);
					let convas = document.getElementById("first_frame")
					let ctx = convas.getContext("2d")
					let image = new Image();
					image.onload = function () {
						ctx.drawImage(image, 0, 0);
					};
					image.src = "data:image/jpeg;base64," + data.frame;

				},
				error: function () {
					console.log("error on get_first_frame");
				}
			});

			// Open the modal
			$('#vidoemodel').modal('show');
		}


	</script>
	<!-- <script src="static/js/morris.js'%}"></script> -->
	<!-- <script>
        


    </script> -->

</body>

</html>